- name: "copy dist "
  become: true
  copy:
    #src: /root/project/backend/dist
    src: /root/project/
    dest: /home/ubuntu

- name: Executing node
  become: true
  shell: |
    cd /home/ubuntu/backend
    pm2 start npm --name backend -- start
    pm2 ls
    
    
