- name: Create a directory if it does not exist
  become: true
  ansible.builtin.file:
    path: /home/ubuntu/project/backend
    state: directory
    mode: '0755'

- name: "copy folder "
  become: true
  copy:
    #src: /root/project/backend/dist
    src: /root/project/backend/artifact.tar.gz
    #src: /root/project/
    dest: /home/ubuntu/project/backend


    
- name: "untar folder "
  become: true
  ansible.builtin.unarchive:
    #src: /root/project/backend/dist
    src: /home/ubuntu/project/backend/artifact.tar.gz
    #src: /root/project/
    dest: /home/ubuntu/project/backend/
    remote_src: yes
    
- name: "install nodejs"
  become: true
  apt:
    name: "nodejs"
           
- name: "install pm2"
  become: true
  npm:
    name: pm2
    global: yes
    production: yes
    state: present
    
    
- name: Executing node
  become: true  
  shell: |
    cd /home/ubuntu/project/
    ls -lart
    cd /home/ubuntu/project/backend
    ls -lart
    pm2 start npm --name backend -- start
    pm2 ls
  
