- name: "copy folder "
  become: true
  copy:
    #src: /root/project/backend/dist
    src: /root/project/backend/artifact.tar.gz
    #src: /root/project/
    dest: /home/ubuntu/project/backend

    
- name: "install dependencies."
  become: true
  apt:
    name: "tar"
    state: latest
    update_cache: yes
  
